@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-size: 0.625rem;
  font-size: 16px;
  letter-spacing: 0.1em;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.section__ttl {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
}
.section__inner {
  padding: 0 4vw;
  margin-inline: auto;
}

a {
  display: block;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a :hover {
  opacity: 0.7;
}

.max_width {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  text-align: center;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.bg-white {
  width: 1000px;
  height: 37.5rem;
  padding: 1.25rem;
  background-color: white;
}

.text-center {
  padding: 0.625rem auto;
  padding-top: 30px;
  text-align: center;
}

.nav {
  margin-left: auto;
}

.pc-nav a {
  font-weight: bold;
}

.flx {
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem 0rem;
  justify-content: flex-start;
  width: 100%;
  margin: 0.625rem auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.flx_el {
  width: 33%;
  margin: 0px;
  overflow-wrap: break-word;
}

.portfolioFlx {
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem 3.125rem;
  justify-content: space-between;
  width: 100%;
  margin: 3.125rem auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.portfolioFlx_el {
  width: 30%;
  margin: 0px;
  overflow-wrap: break-word;
}

.swiper .flx_el {
  width: 100%;
}

.navigation-container {
  position: relative;
  z-index: 1;
}

.portfolio-content {
  display: grid;
  grid-template-columns: 1.875rem 1fr 1.875rem;
}

.prev-button {
  left: -1.875rem;
  margin-top: 3.75rem;
}

.next-button {
  right: -1.875rem;
  margin-top: 3.75rem;
}

.prev-button,
.next-button {
  cursor: pointer;
}
.prev-button:hover,
.next-button:hover {
  opacity: 0.7;
}

.padding-bottom {
  margin-bottom: 50px !important;
}

.main__btn {
  display: block;
  width: 160px;
  padding: 0.625rem;
  margin: auto;
  font-weight: bold;
  color: #4485ff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-bottom: 0.125rem solid #4485ff;
  border-radius: 100vh;
  box-shadow: 0 0.125rem 7px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.main__btn-long {
  display: block;
  width: 260px;
  padding: 0.625rem;
  margin: auto;
  font-weight: bold;
  color: #4485ff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-bottom: 0.125rem solid #4485ff;
  border-radius: 100vh;
  box-shadow: 0 0.125rem 7px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.main__btn-long:hover {
  color: #fff;
  background: #4485ff;
  border-bottom: 0.125rem solid #fff;
  transform: translateY(3px);
}
.main__btn:hover {
  color: #fff;
  background: #4485ff;
  border-bottom: 0.125rem solid #fff;
  transform: translateY(3px);
}

.main__title {
  margin: 0;
  font-size: 3.75rem;
  color: #4485ff;
  text-align: left;
}
.main__title-white {
  margin: 0;
  font-size: 3.75rem;
  color: white;
  text-align: left;
}
.main__title-white::after {
  display: block;
  margin: 0;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
  color: white;
  text-align: left;
  content: attr(data-ja);
}
.main__title::after {
  display: block;
  margin: 0;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
  color: #4485ff;
  text-align: left;
  content: attr(data-ja);
}

@media (max-width: 1024px) {
  .flx {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem 6.25rem;
    justify-content: center;
    width: 100%;
    margin: 0.625rem auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .flx_el {
    width: 33%;
    margin: 0px;
    overflow-wrap: break-word;
  }
  .portfolioFlx {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem 1.25rem;
    justify-content: center;
    width: 100%;
    margin: 3.125rem auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .portfolioFlx_el {
    width: 45%;
    margin: 0px;
    overflow-wrap: break-word;
  }
}
@media screen and (max-width: 580px) {
  .section_title {
    margin: 0.625rem auto;
    font-family: futura-pt-bold, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    color: #007111;
    text-align: center;
  }
  .main__title {
    margin: 0;
    font-size: 2.125rem;
    color: #4485ff;
    text-align: left;
  }
  .main__title-white {
    margin: 0;
    font-size: 3.75rem;
    color: white;
    text-align: left;
  }
  .main__title__btn {
    padding: 0.625rem 0px;
    margin-inline: auto;
    font-size: 16px;
    text-align: center;
  }
  .main__title::after {
    display: block;
    margin: 0;
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
    color: #4485ff;
    text-align: left;
    content: attr(data-ja);
  }
  .main__title::after--white {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    color: white;
    text-align: left;
  }
  .main__subtitle {
    margin: 0;
    font-size: 1.125rem;
    color: #4485ff;
    text-align: left;
  }
  .main__subtitle-white {
    margin: 0;
    font-size: 1.25rem;
    color: white;
    text-align: left;
  }
  .section_img {
    width: 70%;
    margin: 0;
  }
  .section_img_left {
    width: 70%;
    margin: 0;
  }
  .nav {
    display: none;
  }
  .swiper .flx_el {
    width: 100%;
  }
  .bg-white {
    width: 90%;
    height: 100%;
    padding: 1.875rem;
    margin-inline: auto;
    overflow-wrap: break-word;
    background-color: white;
  }
  .max_width {
    width: 90%;
    margin: 0 auto;
  }
  .portfolio-content {
    display: grid;
    grid-template-columns: 0.9375rem 1fr 0.9375rem;
  }
  .flx {
    flex-direction: column;
    gap: 0.625rem 0rem;
    margin: 1.25rem auto;
  }
  .flx_el {
    width: 100%;
    margin: 0.625rem auto;
  }
  .flx_el_3 {
    width: 100%;
    margin: 1.25rem auto;
  }
  .flx_el_feature {
    width: 100%;
    margin: 1.25rem auto;
  }
  .portfolioFlx {
    display: flex;
    flex-wrap: wrap;
    gap: 3.125rem 0rem;
    justify-content: space-between;
    width: 100%;
    margin: 1.875rem auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .portfolioFlx_el {
    width: 100%;
    margin: 0px;
    overflow-wrap: break-word;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .prev-button {
    left: 0px;
    width: 1.875rem;
    height: 1.875rem;
    margin-top: 8.75rem;
  }
  .next-button {
    right: 0px;
    width: 1.875rem;
    height: 1.875rem;
    margin-top: 8.75rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: light;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  scrollbar-gutter: stable;
  interpolate-size: allow-keywords;
  line-height: 1.5;
}

:where(html:has(dialog:modal[open])) {
  overflow: clip;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  line-height: inherit;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(button) {
  all: unset;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled, label:has(> :disabled, + disabled)) {
  cursor: not-allowed;
}

:where(a) {
  color: inherit;
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
  text-wrap: balance;
}

:where(hr) {
  border: none;
  -webkit-border-before: 1px solid;
          border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(dialog, [popover]) {
  border: none;
  background: none;
  color: inherit;
  inset: unset;
  max-width: unset;
  max-height: unset;
  overflow: unset;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
  display: none !important;
}

:where(:focus-visible) {
  outline: 3px solid CanvasText;
  box-shadow: 0 0 0 5px Canvas;
  outline-offset: 1px;
}

:where(:focus-visible, :target) {
  scroll-margin-block: 8vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.title {
  display: flex;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  color: #aa8f7b;
}

.title span {
  display: block;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transform: translate(0, 105%);
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}

.title span:nth-child(3) {
  transition-delay: 0.12s;
}

.title span:nth-child(4) {
  transition-delay: 0.18s;
}

.title span:nth-child(5) {
  transition-delay: 0.24s;
}

.title span:nth-child(6) {
  transition-delay: 0.3s;
}

.title span:nth-child(7) {
  transition-delay: 0.36s;
}

.title span:nth-child(8) {
  transition-delay: 0.42s;
}

.title span:nth-child(9) {
  transition-delay: 0.48s;
}

.title span:nth-child(10) {
  transition-delay: 0.54s;
}

.title span:nth-child(11) {
  transition-delay: 0.6s;
}

.title span:nth-child(12) {
  transition-delay: 0.66s;
}

.title span:nth-child(13) {
  transition-delay: 0.72s;
}

.title span:nth-child(14) {
  transition-delay: 0.78s;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #0d1014;
  opacity: 0.4;
}
.loading-body {
  height: 125rem;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
.circle-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 3px;
  background: linear-gradient(0deg, rgba(63, 249, 220, 0.1) 33%, rgb(93, 255, 231) 100%);
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear 0s infinite;
          animation: spin 0.8s linear 0s infinite;
}

.circle-core {
  width: 95%;
  height: 95%;
  background-color: #1d2630;
  border-radius: 50%;
}

.spinner-box {
  position: absolute;
  top: 42%;
  left: 44%;
  width: 100%;
}

@media screen and (max-width: 420px) {
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #1d2630;
    opacity: 0.4;
  }
  .loading-body {
    height: 125rem;
  }
  @-webkit-keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .circle-border {
    width: 150px;
    height: 150px;
    padding: 3px;
    border-radius: 50%;
  }
  .spinner-box {
    top: 40%;
    left: 34%;
    width: 300px;
  }
}
body {
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-property: opacity, background-color, transform, filter;
}

.page-transition {
  background-color: #ffffff;
  filter: blur(12px);
  opacity: 0;
  transform: translateY(20px);
}

.logo {
  position: relative;
  width: 210px !important;
  height: 80px !important;
}

.header {
  z-index: 50;
  width: 100%;
  height: auto;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.header_flx {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
}
.header nav {
  margin-left: auto;
}
.header li {
  display: inline-block;
  margin-right: 15px;
}
.header li:nth-child(6) {
  width: 90px;
  padding: 5px 10px;
  margin-right: 0;
  color: white;
  background-color: rgb(34, 35, 35);
}
.header li a {
  transition: color 0.3s;
}
.header li a:hover {
  color: #4485ff;
}
.header_btn_contact {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  background-color: #4485ff;
  border-radius: 20px;
  transition: color 0.3s;
}
.header_btn_contact:hover {
  opacity: 0.7;
}

.humburger {
  display: none;
}

.hamburger-btn__parts {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: black;
  transition: transform 0.5s, opacity 0.5s;
}

.hamburger-btn__parts.-top {
  top: 0;
}

.hamburger-btn__parts.-middle {
  top: 0;
  bottom: 0;
  margin: auto;
}

.hamburger-btn__parts.-bottom {
  bottom: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-top {
  transform: translateY(0.625rem) rotate(-45deg);
}

.hamburger-btn.active .hamburger-btn__parts.-middle {
  opacity: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-bottom {
  transform: translateY(-4px) rotate(45deg);
}

.hamburger,
.hamburger-btn {
  display: none;
}

@media screen and (max-width: 420px) {
  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    width: 100vw;
    height: 100vh;
    font-family: futura-pt-bold, sans-serif;
    font-size: 16px;
    background-color: #333333;
    transition: all 0.3s;
    transform: translateX(100vw);
  }
  .hamburger-btn {
    position: relative;
    z-index: 20;
    display: block;
    width: 25px;
    height: 16px;
  }
  .hamburger__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .hamburger__list {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
    color: black;
    text-align: center;
    list-style: none;
  }
  .hamburger__list + .hamburger__list {
    padding-top: 50px;
  }
  .hamburger__link {
    font-family: futura-pt-bold, sans-serif;
    color: black;
    text-decoration: none;
  }
}
.hamburger.active {
  transform: translateX(0);
}

@media screen and (max-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 10px;
    background: white;
  }
  .header nav {
    display: none;
  }
  .logo {
    position: relative;
    width: 140px !important;
    height: 40px !important;
  }
}
@media screen and (max-width: 420px) {
  .header {
    top: 0;
    display: flex;
    padding: 10px;
  }
  .header_flx {
    flex-direction: column;
    align-items: flex-start;
  }
  .humburger {
    top: 5px;
    right: 20px;
  }
  .mobileLogo {
    top: 10px;
    width: 190px;
    height: 60px;
  }
  .logo {
    position: relative;
    width: 140px !important;
    height: 40px !important;
  }
}
.footer {
  border-top: 2px solid #4485ff;
}
.footer__container {
  display: flex;
  gap: 3.75rem 7.5rem;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0;
  margin: 0px auto;
}
.footer__list {
  font-weight: 600;
  text-align: left;
}
.footer__logo {
  position: relative;
  bottom: 1.25rem;
  width: 220px !important;
  height: 100px !important;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
.footer__text {
  width: 100%;
  padding: 0.625rem;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgb(59, 59, 59);
  text-align: center;
}

@media screen and (max-width: 420px) {
  .footer ul {
    margin-left: 30px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
  }
}
.tab-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}
.tab-1 label {
  flex: 1 1;
  order: -1;
  min-width: 100px;
  padding: 0.9em 1em 0.5em;
  font-size: 0.9em;
  font-weight: bold;
  color: #535353;
  text-align: center;
  cursor: pointer;
  background-color: #e9f0f6;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0;
}
.tab-1 label:hover {
  opacity: 0.8;
}
.tab-1 input {
  display: none;
}
.tab-1 div {
  display: none;
  width: 100%;
  padding: 1.5em 1em;
  background-color: #fff;
}
.tab-1 .active {
  color: #333333;
  background-color: #fff;
  border-color: #4485ff #f0f0f0 #fff;
  border-style: solid;
  border-width: 4px 1px 1px;
  border-radius: 5px;
}
.tab-1 .active + div {
  display: block;
}

.license ul {
  text-align: left;
}
.license__table {
  margin-top: 1.25rem;
  font-size: 1.125rem;
}
.license__table-td {
  padding: 0.625rem;
  text-align: left;
}

.zenn {
  background-color: #f7f7f7;
}
.zenn__flex {
  display: flex;
  justify-content: center;
}
.zenn__date {
  font-size: 0.875rem;
  color: grey;
}
.zenn__tag {
  display: inline-block;
  height: 25px;
  padding: 2px 5px;
  margin: 11px 2px;
  font-size: 14px;
  color: #4485ff;
  border: 1px solid #4485ff;
  border-radius: 10px;
}
.zenn__title {
  width: 80%;
  margin-inline: auto;
  margin-top: 0;
  font-weight: 600;
  text-align: left;
}
.zenn__emoji {
  font-size: 80px;
}

@media screen and (max-width: 420px) {
  .zenn {
    background-color: #f7f7f7;
  }
  .zenn__flex {
    display: flex;
    justify-content: center;
  }
  .zenn__date {
    font-size: 0.875rem;
    color: #4485ff;
  }
  .zenn__tag {
    display: inline-block;
    height: 25px;
    padding: 2px 5px;
    margin: 11px 2px;
    font-size: 14px;
    color: #4485ff;
    border: 1px solid #4485ff;
    border-radius: 20px;
  }
  .zenn__title {
    margin-top: 0px;
  }
  .zenn__emoji {
    font-size: 80px;
  }
}
.form {
  margin: 60px 0;
  /* 未記入でエラーがある場合に背景色を変更 */
}
.form-box {
  display: grid;
  grid-template-columns: 0.2fr 0.6fr;
  grid-gap: 5px auto;
  margin: 40px 0;
}
.form-box-label {
  font-weight: 500;
  text-align: left;
}
.form-box-label-required {
  padding: 3px 6px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: rgb(251, 77, 77);
  border-radius: 20px;
}
.form-box-textarea {
  padding: 8px;
}
.form-box-btn {
  padding: 5px 20px;
  color: white;
  background-color: royalblue;
  border: 0px solid;
  border-radius: 10px;
}
.form-box-btn:hover {
  background-color: rgba(0, 0, 255, 0.8);
}
.form-box-error {
  font-size: 14px;
  color: red;
  text-align: left;
}

@media screen and (max-width: 420px) {
  .form {
    margin: 60px 0;
  }
  .form-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 40px 0;
  }
  .form-box-label {
    font-weight: 500;
    text-align: left;
  }
  .form-box-label-required {
    padding: 3px 6px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: rgb(251, 77, 77);
    border-radius: 20px;
  }
  .form-box-textarea {
    padding: 8px;
  }
  .form-box-btn {
    padding: 5px 20px;
    font-size: 18px;
    color: white;
    background-color: royalblue;
    border: 0px solid;
    border-radius: 10px;
  }
  .form-box-btn:hover {
    background-color: rgba(0, 0, 255, 0.8);
  }
  .form-box-error {
    font-size: 14px;
    color: red;
  }
}
.fv_cube {
  height: 100vh;
}
.fv_cube_title {
  position: relative;
  top: 120px;
  font-family: futura-pt-bold, sans-serif;
  font-size: 70px;
  line-height: 90px;
  text-align: left;
}

.drawerMenu {
  position: fixed;
  top: 0px;
  z-index: -100;
  display: none;
  width: 100%;
  height: 0;
  background-color: #4485ff;
  opacity: 0;
  transition: 0.5s;
}
.drawerMenu ul {
  width: 90%;
  padding: 0px;
  margin-inline: auto;
}
.drawerMenu ul li {
  margin-bottom: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  opacity: 0.7;
}
.drawerMenu.open {
  top: 60px;
  z-index: 99;
  display: none;
  height: 90vh;
  opacity: 0;
}

.btn-trigger {
  display: none;
}

.aboutTop_container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem 0;
  justify-content: space-between;
  width: 100%;
  margin: 0.625rem auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.aboutTop_container-item {
  width: 50%;
  margin: 0px;
  overflow-wrap: break-word;
}

.components_logo__pNz7v {
  margin: 0px;
}

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f8f8;
}
.errorPage h1 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-size: 6rem;
  font-weight: bold;
  color: #333;
}
.errorPage h2 {
  font-size: 2rem;
  color: #1a1a1a;
}
.errorPage p {
  margin-top: 0.5rem;
  color: #666666;
}

@media (max-width: 1024px) {
  .btn-trigger {
    position: relative;
    z-index: 100;
    width: 50px;
    height: 38px;
    cursor: pointer;
    background-color: white;
    border: 0px;
  }
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #4485ff;
    border-radius: 4px;
  }
  .btn-trigger,
.btn-trigger span {
    box-sizing: border-box;
    display: inline-block;
    transition: all 0.5s;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 17px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  /*=============================
  #btn01
  =============================*/
  #btn01.active span:nth-of-type(1) {
    transform: translateY(15px) rotate(-45deg);
  }
  #btn01.active span:nth-of-type(2) {
    opacity: 0;
  }
  #btn01.active span:nth-of-type(3) {
    transform: translateY(-17px) rotate(45deg);
  }
  .container {
    margin: 0 0 0 auto;
  }
  .mobileLogo {
    position: absolute;
    top: 0px;
    display: inline-block;
    width: 250px;
    height: 80px;
  }
  .mainTitle {
    margin-bottom: 5px;
    font-size: 26px;
    color: white;
    text-align: left;
    letter-spacing: 2px;
  }
  .subTitle {
    font-size: 15px;
    color: white;
  }
  .close {
    padding-right: 3px;
    margin-top: 32px;
    cursor: pointer;
  }
  .close span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 8px 10px auto;
    margin-bottom: 10px;
    background-color: white;
  }
  .close span:first-child {
    transform: translateY(6px) rotate(150deg);
  }
  .close span:nth-child(2) {
    margin-bottom: 0;
    transform: translateY(-6px) rotate(-150deg);
  }
  .close p {
    padding-right: 1px;
    font-size: 11px;
    text-align: right;
  }
  .drawerMenu {
    position: fixed;
    top: 0px;
    z-index: -100;
    display: none;
    width: 100%;
    height: 0;
    background-color: #4485ff;
    opacity: 0;
    transition: 0.5s;
  }
  .drawerMenu ul {
    width: 90%;
    padding: 0px;
    margin-inline: auto;
  }
  .drawerMenu ul li {
    margin-bottom: 25px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    opacity: 0.7;
  }
  .drawerMenu.open {
    top: 60px;
    z-index: 99;
    display: none;
    display: block;
    height: 90vh;
    opacity: 1;
  }
}
@media screen and (max-width: 420px) {
  .aboutTop_container {
    flex-direction: column;
    gap: 0.625rem 0;
    width: 100%;
    margin: 0.625rem auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .aboutTop_container-item {
    width: 100%;
    margin: 0;
    overflow-wrap: break-word;
  }
  .components_logo__pNz7v {
    margin: 0px;
  }
}
.selectbox-5 {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.selectbox-5::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  pointer-events: none;
  content: "";
  background-color: #535353;
}

.selectbox-5 select {
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  font-size: 1em;
  color: #333333;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #d0d0d0;
}

.selectbox-5 select:focus {
  outline: none;
}

.portfolioDetail {
  margin: 50px auto;
  border-radius: 1.25rem;
}
.portfolioDetail_btn {
  position: relative;
  top: 1.25rem;
  display: block;
  width: 46px;
  margin-right: 0.625rem;
  margin-left: auto;
  background-color: white;
  border: 0px solid;
}
.portfolioDetail__element {
  width: 45%;
}
.portfolioDetail__element-topImg {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  margin: 20px auto;
  margin-inline: auto;
  margin-bottom: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #707070;
}
.portfolioDetail__element-img {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  margin-inline: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolioDetail__element-img button {
  background-color: white;
  border: 0;
}
.portfolioDetail__element-title {
  font-size: 26px;
  text-align: left;
}
.portfolioDetail__element-subtitle {
  padding-bottom: 10px;
  margin: 30px 0;
  font-size: 26px;
  text-align: left;
  border-bottom: 2px solid #4485ff;
}
.portfolioDetail__element-text {
  text-align: left;
}
.portfolioDetail__element-text li {
  list-style: square;
}
.portfolioDetail__element-date {
  color: #707070;
  text-align: left;
}
.portfolioDetail__element-tag {
  display: inline;
  padding: 5px 10px;
  margin: 0px 10px;
  color: #4485ff;
  border: 1px solid #4485ff;
  border-radius: 20px;
}
.portfolioDetail__element-tagList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0.625rem 0;
}
.portfolioDetail__element-link {
  color: #063997;
}
.portfolioDetail__element-link:hover {
  opacity: 0.7;
}
.portfolioDetail__element-link::before {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  content: "";
  background-image: url("/images/common/link.svg");
  background-size: contain;
}

@media screen and (max-width: 420px) {
  .portfolioDetail {
    margin-top: 30px;
    border-radius: 1.25rem;
  }
  .portfolioDetail_btn {
    position: relative;
    top: 1.25rem;
    display: block;
    width: 46px;
    margin-right: 0.625rem;
    margin-left: auto;
    background-color: white;
    border: 0px solid;
  }
  .portfolioDetail__top {
    margin-top: 1.25rem;
  }
  .portfolioDetail__element {
    width: 45%;
  }
  .portfolioDetail__element-topImg {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-inline: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolioDetail__element-img {
    position: relative;
    width: 90%;
    height: auto;
    aspect-ratio: 16/9;
    margin-inline: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .portfolioDetail__element-title {
    text-align: left;
  }
  .portfolioDetail__element-subtitle {
    margin: 10px 0;
    font-size: 20px;
    text-align: left;
  }
  .portfolioDetail__element-text {
    text-align: left;
  }
  .portfolioDetail__element-text li {
    list-style: square;
  }
  .portfolioDetail__element-date {
    text-align: left;
  }
  .portfolioDetail__element-tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 2px;
    color: #4485ff;
    border: 1px solid #4485ff;
    border-radius: 20px;
  }
  .portfolioDetail__element-tagList {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .portfolioDetail__element-link {
    margin-bottom: 1.25rem;
    color: #063997;
  }
  .portfolioDetail__element-link:hover {
    opacity: 0.7;
  }
}
a {
  cursor: pointer;
}

.padding {
  padding-bottom: 60px;
}

.fv {
  z-index: -1;
  width: 100%;
  height: 100vh;
}
.fv__container {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}
.fv__element {
  align-items: center;
  width: 50%;
}
.fv__title {
  position: relative;
  top: 9.375rem;
  margin: 0.625rem auto;
  font-family: futura-pt-bold, sans-serif;
  font-size: 3.75rem;
  color: #4485ff;
  text-align: left;
  letter-spacing: 4px;
}
.fv__subtitle {
  position: relative;
  top: 7.5rem;
  margin-top: 2.5rem;
  margin-inline: auto;
  font-family: futura-pt-bold, sans-serif;
  font-size: 2.5rem;
  color: #4485ff;
  text-align: left;
  letter-spacing: 4px;
}

@-webkit-keyframes GradietionAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes GradietionAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wave__bg__top {
  position: relative;
  top: 40px;
  z-index: -1;
}

.wave__bg__bottom {
  position: relative;
  bottom: 40px;
  z-index: -1;
}

.back__btn {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 10;
  width: 30px;
  padding: 25px 25px;
  border-radius: 100%;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  background-color: #6499ff;
  border: 0 solid;
}
.back__btn:hover {
  opacity: 0.7;
}

.about__title {
  margin: 0.625rem auto;
  font-size: 1.625rem;
  text-align: left;
}
.about__text {
  display: flex;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}
.about__text-span {
  font-weight: bold;
}
.about__text dd {
  margin: 0;
}
.about_img {
  position: relative;
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_snsLogo {
  width: 30px;
  margin: 0 0.625rem;
}
.about__flx {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.625rem;
}

.container {
  position: relative;
  bottom: 5px;
}

.modal-text {
  margin-left: 1.25rem;
}
.modal-button {
  display: block;
  padding: 0.625rem 1.875rem;
  margin: 1.25rem auto;
  color: white;
  text-align: center;
  background-color: #063997;
  border: none;
  border-radius: 0.3125rem;
}

.section_text {
  margin: 0.625rem auto;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: bold;
}
.section_text2 {
  font-family: bold;
}
.section_img {
  width: 70%;
  margin-top: 1.25rem;
  margin-left: 30px;
}
.section_img_left {
  width: 70%;
  margin-top: 1.25rem;
  margin-right: 30px;
}

li {
  list-style: none;
}

.tac {
  text-align: center;
}

.about,
.portfolio,
.news,
.contact {
  padding: 60px 0;
}

.title-border-right {
  display: flex;
  align-items: center;
}
.title-border-right ::after {
  flex-grow: 1;
  margin-left: 1rem;
  content: "";
  border-top: 1px solid;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.portfolio {
  background-color: #f7f7f7;
}
.portfolio__flex {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.portfolio__date {
  margin-top: 6px;
  margin-bottom: 4px;
  font-size: 0.875rem;
}
.portfolio__tag {
  display: inline-block;
  height: 25px;
  padding: 2px 5px;
  margin: 11px 2px;
  font-size: 14px;
  color: #4485ff;
  border: 1px solid #4485ff;
  border-radius: 10px;
}
.portfolio__title {
  font-size: 18px;
  font-weight: 600;
  color: #434343;
}
.portfolio__img {
  position: relative;
  width: 250px;
  height: auto;
  aspect-ratio: 16/9;
  margin-inline: auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__img__item {
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.portfolio__img__item:hover {
  transform: scale(1.1);
}

.portfolio {
  background-color: #f7f7f7;
}
.portfolioItem {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.portfolioItem__flex {
  display: flex;
  justify-content: center;
}
.portfolioItem__date {
  font-size: 0.875rem;
}
.portfolioItem__tag {
  display: inline-block;
  height: 25px;
  padding: 2px 8px;
  padding-bottom: 4px;
  margin: 11px 2px;
  font-size: 14px;
  color: #4485ff;
  border: 1px solid #4485ff;
  border-radius: 10px;
}
.portfolioItem__title {
  font-size: 18px;
  font-weight: 600;
  color: #434343;
}
.portfolioItem__img {
  position: relative;
  width: 100%;
  height: 162px;
  aspect-ratio: 16/9;
  margin-inline: auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolioItem__img-item {
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.portfolioItem__img-item:hover {
  transform: scale(1.1);
}
.portfolioItem_link {
  cursor: pointer;
}

.transition-link {
  height: 100%;
}

.size {
  margin-top: 40px;
  color: #4485ff;
}

.skill {
  padding-bottom: 40px;
  background-color: #f7f7f7;
}
.skill__title {
  font-size: 20px;
  text-align: left;
}
.skill__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: flex-start;
  margin-inline: auto;
  margin-bottom: 60px;
}
.skill__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100px;
  background-color: white;
  border: 0px solid;
  box-shadow: #838383 0px 2px 5px;
}
.skill__text {
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.skill__svg {
  position: relative;
  width: 60px !important;
  height: 60px !important;
}

.timeline dl dt {
  position: relative;
  width: 8.5em;
  padding: 0.5em 1em 0.5em 0.5em;
  text-align: left;
}
.timeline dl dt::after {
  position: absolute;
  top: 0.3125rem;
  right: -0.55em;
  font-size: 22px;
  color: #4485ff;
  content: "●";
}
.timeline dl dd {
  width: calc(100% - 8.5em);
  padding: 0.5em 2em 3em;
  text-align: left;
  border-left: 0.125rem solid #ccc;
}
.timeline dl p {
  text-align: left;
}
.timeline dl dd h2 {
  margin: 0 0 0.3125rem;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

.swiper-horizontal {
  width: 90%;
}

.modalBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}
.modalBox_bg {
  position: absolute;
  inset: 0;
  z-index: 100;
  width: 80%;
  max-width: 1100px;
  height: 450px;
  margin: auto;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 20px;
}
.modalBox_bg::-webkit-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalBox_bg::backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalBox_btn {
  position: relative;
  top: 1.25rem;
  display: block;
  width: 46px;
  margin-right: 0.625rem;
  margin-left: auto;
  cursor: pointer;
  background-color: white;
  border: 0 solid;
}
.modalBox_btn:hover {
  opacity: 0.7;
}
.modalBox__element {
  width: 45%;
}
.modalBox__element__img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid gray;
}
.modalBox__element__text {
  text-align: left;
}
.modalBox__element__link {
  color: #063997;
}
.modalBox__element__link:hover {
  opacity: 0.7;
}

.canvas {
  position: relative;
  top: 150px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.contact {
  background-image: url("/images/top_contact_bg.webp");
}
.contact__box {
  width: 50%;
  padding: 20px 0;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}
.contact__box-title {
  margin: 0;
  font-size: 26px;
}
.contact__box-text {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 25px;
}
.contact__btn {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background-color: #4485ff;
  border-radius: 10px;
}
.contact__btn:hover {
  opacity: 0.7;
}

.breadCrumb__title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px auto;
  text-align: left;
}
.breadCrumb__title-span {
  font-weight: bold;
}
.breadCrumb__first:hover {
  color: #4485ff;
}
.breadCrumb__second {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.breadCrumb__second:hover {
  color: #4485ff;
}
.breadCrumb__arrow {
  width: 15px;
  height: 15px;
}
.breadCrumb__arrow img {
  display: block;
}

.lower_bg {
  height: 250px;
  background-color: #6499ff;
}
.lower__title {
  padding-top: 50px;
  margin: 0;
  font-size: 3.75rem;
  color: white;
  text-align: left;
}
.lower__title::after {
  display: block;
  margin: 0;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
  color: white;
  text-align: left;
  content: attr(data-ja);
}
.lower__title::after--white {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  color: white;
  text-align: left;
}
.lower__subTitle {
  font-size: 28px;
  color: #434343;
  text-align: left;
  padding-top: 0.9375rem;
  padding-bottom: 0.625rem;
}
.lower__subTitle-span {
  margin-left: 10px;
  font-size: 16px;
  color: #707070;
}

.PostNavigation {
  display: flex;
  margin: 1.875rem auto;
  margin-top: 7.5rem;
  border-top: 2px solid rgb(206, 206, 206);
  border-bottom: 2px solid rgb(206, 206, 206);
}
.PostNavigation__item {
  width: 50%;
  padding: 1.25rem 0;
  color: #000081;
  text-align: center;
}

body.modal-open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  max-width: 95%;
  max-height: 95%;
  padding: 30px;
  overflow: auto;
  background: white;
  border-radius: 10px;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
}
.modal-close img {
  width: 100%;
  max-width: 1100px;
  height: auto;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 1024px) {
  .skill__svg {
    position: relative;
    width: 50px !important;
    height: 50px !important;
  }
  .portfolio {
    background-color: #f7f7f7;
  }
  .portfolio__flex {
    display: flex;
    justify-content: center;
  }
  .portfolio__date {
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 0.875rem;
  }
  .portfolio__tag {
    display: inline-block;
    height: 25px;
    padding: 2px 5px;
    margin: 11px 2px;
    font-size: 14px;
    color: #4485ff;
    border: 1px solid #4485ff;
    border-radius: 10px;
  }
  .portfolio__title {
    font-size: 18px;
    font-weight: 600;
    color: #434343;
  }
  .portfolio__img {
    position: relative;
    width: 192px;
    height: 108px;
    margin-inline: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolio__img__item {
    border-radius: 10px;
  }
  .about_img {
    width: 320px;
    height: 180px;
    margin-inline: auto;
  }
  .skill__title {
    text-align: left;
  }
  .skill__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill__element {
    flex-direction: column;
    width: 45%;
  }
  .skill__text {
    font-weight: bold;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .size {
    margin-top: 1.25rem;
    color: #4485ff;
  }
  .skill__svg {
    position: relative;
    width: 50px !important;
    height: 50px !important;
  }
  .border_company {
    margin-left: 0px;
    background-color: white;
    box-shadow: -rem(5) 0.3125rem 0px 0.3125rem #000081;
  }
  .fv {
    display: inline-block;
    width: 100%;
    height: 500px;
    margin-inline: auto;
  }
  .fv__container {
    flex-direction: column;
    margin-top: 0rem;
  }
  .fv__element {
    align-items: center;
    width: 100%;
  }
  .fv__title {
    position: relative;
    top: 7.5rem;
    font-size: 1.875rem;
    line-height: 40px;
  }
  .fv__subtitle {
    position: relative;
    top: 7.5rem;
    margin-top: 0.625rem;
    font-size: 1.25rem;
  }
  .canvas {
    position: relative;
    top: 160px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .about {
    height: 950px;
  }
  .about_name {
    margin: 0.625rem auto;
    font-size: 22px;
    text-align: center;
  }
  .about_img {
    width: 75%;
    height: 220px;
    margin-inline: auto;
  }
  .about_text {
    margin: 40px auto;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
  }
  .about .tac {
    margin-top: 0;
  }
  .skill__title {
    text-align: left;
  }
  .skill__container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 10px;
    justify-content: flex-start;
    margin-inline: auto;
  }
  .skill__element {
    flex-direction: column;
    width: 48%;
  }
  .skill__text {
    font-weight: bold;
    text-align: center;
  }
  .logo_sns {
    width: 50%;
    margin-inline: auto;
  }
  img {
    width: 100%;
  }
  .timeline dl dd {
    width: 100%;
    padding: 0;
    padding-top: 0.625rem;
    padding-bottom: 1.25rem;
    padding-left: 0.625rem;
    margin-left: 20px;
    border-left: 0.125rem solid #ccc;
  }
  .timeline dl dd h2 {
    width: 90%;
    font-size: 1.125rem;
  }
  .timeline dl dd p {
    width: 90%;
  }
  .back__btn {
    padding: 15px 12px;
  }
  .modalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    margin-top: 30px;
    border-radius: 1.25rem;
  }
  .modalBox_btn {
    position: relative;
    top: 1.25rem;
    display: block;
    width: 46px;
    margin-right: 0.625rem;
    margin-left: auto;
    background-color: white;
    border: 0px solid;
  }
  .modalBox__element {
    width: 100%;
  }
  .modalBox__element__img {
    width: 100%;
    height: 162px;
    -o-object-fit: contain;
       object-fit: contain;
    border: 1px solid gray;
  }
  .modalBox__element__text {
    text-align: left;
  }
  .modalBox__element__link {
    color: #063997;
  }
  .modalBox__element__link:hover {
    opacity: 0.7;
  }
  .modal {
    position: relative;
    max-width: 95%;
    max-height: 95%;
    padding: 0;
    overflow: auto;
    background: white;
    border-radius: 10px;
  }
  .modal img {
    height: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }
  .modal-close img {
    width: 100%;
    max-width: 1100px;
    height: 200px;
  }
  .wave__bg__top {
    position: relative;
    top: 10px;
    z-index: -1;
  }
  .wave__bg__bottom {
    position: relative;
    bottom: 10px;
    z-index: -1;
  }
  .breadCrumb__title {
    flex-wrap: wrap;
    padding-top: 50px;
    text-align: left;
  }
  .breadCrumb__second {
    font-weight: 600;
  }
  .breadCrumb__arrow {
    margin: 0px 8px;
  }
  .portfolio {
    background-color: #f7f7f7;
  }
  .portfolio__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio__date {
    margin: 6px 0px;
    font-size: 0.875rem;
    color: #4485ff;
  }
  .portfolio__tag {
    display: inline-block;
    height: 25px;
    padding: 2px 5px;
    margin: 4px 2px;
    font-size: 14px;
    color: #4485ff;
    border: 1px solid #4485ff;
    border-radius: 20px;
  }
  .portfolio__title {
    margin-top: 0px;
  }
  .portfolio__img {
    position: relative;
    width: 192px;
    height: 108px;
    margin-inline: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .portfolioItem {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .portfolioItem__flex {
    display: flex;
    justify-content: center;
  }
  .portfolioItem__date {
    font-size: 0.875rem;
  }
  .portfolioItem__tag {
    display: inline-block;
    height: 25px;
    padding: 2px 8px;
    padding-bottom: 4px;
    margin: 11px 2px;
    font-size: 14px;
    color: #4485ff;
    border: 1px solid #4485ff;
    border-radius: 10px;
  }
  .portfolioItem__title {
    font-size: 18px;
    font-weight: 600;
    color: #434343;
  }
  .portfolioItem__img {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-inline: auto;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolioItem__img-item {
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  .portfolioItem__img-item:hover {
    transform: scale(1.1);
  }
  .portfolioItem_link {
    cursor: pointer;
  }
  .PostNavigation {
    display: flex;
    margin: 1.25rem auto;
    margin-top: 3.75rem;
    border-top: 2px solid rgb(206, 206, 206);
    border-bottom: 2px solid rgb(206, 206, 206);
  }
  .PostNavigation__item {
    width: 50%;
    padding: 0.625rem 0;
    color: #000081;
    text-align: center;
  }
  .contact {
    background-image: url("/images/top_contact_bg_sp.webp");
    background-size: cover;
  }
  .contact__box {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
  }
  .contact__box-title {
    margin: 0;
    font-size: 26px;
  }
  .contact__box-text {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .contact__btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #4485ff;
    border-radius: 10px;
  }
  .contact__btn:hover {
    opacity: 0.7;
  }
  .lower_bg {
    height: 180px;
    background-color: #6499ff;
  }
  .lower__title {
    padding-top: 40px;
    margin: 0;
    font-size: 2.25rem;
    color: white;
    text-align: left;
  }
  .lower__title::after {
    display: block;
    margin: 0;
    margin-bottom: 2.5rem;
    font-size: 1rem;
    color: white;
    text-align: left;
    content: attr(data-ja);
  }
  .lower__title::after--white {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    color: white;
    text-align: left;
  }
  .lower__subTitle {
    font-size: 22px;
    color: #434343;
    text-align: left;
  }
  .lower__subTitle-span {
    margin-left: 10px;
    font-size: 16px;
    color: #707070;
  }
}
.loader {
  position: relative;
  margin: 60px auto;
  font-size: 0.625rem;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #000081;
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
}

.loader,
.loader::after {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modalBox__skill__svg {
  position: relative;
  display: block;
  width: 160px !important;
  height: 160px !important;
  margin-inline: auto;
  text-align: center;
}

/* 下からアニメーション */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(20px);
}

.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* 左からアニメーション */
@-webkit-keyframes slide__in__right {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide__in__right {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.slide__in__right {
  -webkit-animation-name: slide__in__right;
          animation-name: slide__in__right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
/*# sourceMappingURL=globals.css.map */