@charset "UTF-8";
* {
  box-sizing: border-box;
}

div {
  padding: 0px !important;
}

body {
  margin: 0;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-size: 0.625rem;
  font-size: 16px;
  letter-spacing: 0.1em;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.section__ttl {
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
}
.section__inner {
  padding: 0 4vw;
  margin: 0 auto;
}

a {
  display: block;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a :hover {
  opacity: 0.7;
}

.max_width {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  text-align: center;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.bg-white {
  width: 1000px;
  height: 37.5rem;
  padding: 1.25rem;
  background-color: white;
}

.text-center {
  padding: 0.625rem auto;
  padding-top: 30px;
  text-align: center;
}

.nav {
  margin-left: auto;
}

.pc-nav a {
  font-weight: bold;
}

.flx {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 3.125rem auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.flx_el {
  width: 33%;
  margin: 0px;
  overflow-wrap: break-word;
}
.flx_el_footer {
  margin: 0.625rem;
}

.swiper .flx_el {
  width: 100%;
}

.navigation-container {
  position: relative;
  z-index: 1;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev-button {
  bottom: -500px;
  left: -60px;
}

.next-button {
  right: -60px;
  bottom: -500px;
}

header {
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
header ul {
  display: flex;
  margin: 0;
  list-style: none;
}
header li {
  margin-bottom: 0px;
  font-size: 16px;
}
header nav {
  margin: 35 0 0 auto;
}

.header_flx {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.header__inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4% 4vw;
  margin: 0 auto;
  background-color: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.modal-text {
  margin-left: 1.25rem;
}
.modal-button {
  display: block;
  padding: 0.625rem 1.875rem;
  margin: 1.25rem auto;
  color: white;
  text-align: center;
  background-color: #063997;
  border: none;
  border-radius: 0.3125rem;
}

.section_text {
  margin: 0.625rem auto;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: bold;
}
.section_text2 {
  font-family: bold;
}
.section_img {
  width: 70%;
  margin-top: 1.25rem;
  margin-left: 30px;
}
.section_img_left {
  width: 70%;
  margin-top: 1.25rem;
  margin-right: 30px;
}

@media screen and (max-width: 559px) {
  .section_img {
    width: 70%;
    margin: 0;
  }
  .section_img_left {
    width: 70%;
    margin: 0;
  }
  .nav {
    display: none;
  }
  .bg-white {
    width: 90%;
    height: 100%;
    padding: 1.875rem;
    margin: 0 auto;
    overflow-wrap: break-word;
    background-color: white;
  }
}
.hamburger-btn__parts {
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: black;
  transition: transform 0.5s, opacity 0.5s;
}

.hamburger-btn__parts.-top {
  top: 0;
}

.hamburger-btn__parts.-middle {
  top: 0;
  bottom: 0;
  margin: auto;
}

.hamburger-btn__parts.-bottom {
  bottom: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-top {
  transform: translateY(0.625rem) rotate(-45deg);
}

.hamburger-btn.active .hamburger-btn__parts.-middle {
  opacity: 0;
}

.hamburger-btn.active .hamburger-btn__parts.-bottom {
  transform: translateY(-4px) rotate(45deg);
}

.hamburger,
.hamburger-btn {
  display: none;
}

@media screen and (max-width: 559px) {
  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    width: 100vw;
    height: 100vh;
    font-family: futura-pt-bold, sans-serif;
    font-size: 16px;
    background-color: #333333;
    transition: all 0.3s;
    transform: translateX(100vw);
  }
  .hamburger-btn {
    position: relative;
    z-index: 20;
    display: block;
    width: 25px;
    height: 16px;
  }
  .hamburger__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .hamburger__list {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
    color: black;
    text-align: center;
    list-style: none;
  }
  .hamburger__list + .hamburger__list {
    padding-top: 50px;
  }
  .hamburger__link {
    font-family: futura-pt-bold, sans-serif;
    color: black;
    text-decoration: none;
  }
}
.hamburger.active {
  transform: translateX(0);
}

li {
  list-style: none;
}

.tac {
  text-align: center;
}

.about,
.portfolio,
.news,
.contact {
  padding: 60px 0;
}

.title-border-right {
  display: flex;
  align-items: center;
}
.title-border-right ::after {
  flex-grow: 1;
  margin-left: 1rem;
  content: "";
  border-top: 1px solid;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.fv {
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #41bbe0 10%, #646adf 100%) fixed;
  background-size: 800% 800%;
  -webkit-animation: GradietionAnimation 9s ease infinite;
          animation: GradietionAnimation 9s ease infinite;
}
.fv__title {
  position: relative;
  top: 13.75rem;
  margin: 0 auto;
  margin-right: auto;
  font-family: futura-pt-bold, sans-serif;
  font-size: 4.375rem;
  line-height: 90px;
  color: white;
  text-align: left;
  text-shadow: 3px 0.125rem 1px #6499ff;
  letter-spacing: 4px;
}
.fv__subtitle {
  position: relative;
  top: 13.75rem;
  margin: 0 auto;
  font-family: futura-pt-bold, sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: left;
  text-shadow: 3px 0.125rem 1px #6499ff;
  letter-spacing: 4px;
}

@-webkit-keyframes GradietionAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes GradietionAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main__title {
  margin: 0;
  font-size: 3.75rem;
  color: #6499ff;
  text-align: left;
}
.main__title--white {
  margin: 0;
  font-size: 3.75rem;
  color: white;
  text-align: left;
}
.main__subtitle {
  margin: 0;
  font-size: 1.25rem;
  color: #6499ff;
  text-align: left;
}
.main__subtitle--white {
  margin: 0;
  font-size: 1.25rem;
  color: white;
  text-align: left;
}

.portfolio {
  background-color: #f7f7f7;
}
.portfolio__flex {
  display: flex;
  justify-content: center;
}
.portfolio__date {
  font-size: 0.875rem;
  color: #6499ff;
}
.portfolio__tag {
  display: inline-block;
  height: 25px;
  padding: 2px 5px;
  margin: 11px 2px;
  font-size: 14px;
  color: #6499ff;
  border: 1px solid #6499ff;
  border-radius: 20px;
}
.portfolio__title {
  margin-top: 0px;
}
.portfolio__img {
  position: relative;
  width: 250px;
  margin: 0 auto;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer_flx {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin: 0px auto;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.footer_list {
  color: white;
  text-align: left;
}
.footer_logo {
  position: relative;
  bottom: 1.25rem;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: left;
}
.footer_text {
  width: 100%;
  padding: 0.625rem;
  margin: 0;
  font-size: 16px;
  color: white;
  text-align: center;
}

footer {
  background-color: #6499ff;
}
footer li {
  color: white;
}

.about__title {
  margin: 0.625rem auto;
  font-size: 1.625rem;
  text-align: left;
}
.about__text {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}
.about_img {
  position: relative;
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_snsLogo {
  width: 30px;
  margin: 0 0.625rem;
}
.about__flx {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.625rem;
}

.arrow {
  width: 30px;
  margin-bottom: 0.625rem;
}

.main__btn {
  display: block;
  width: 160px;
  padding: 0.625rem;
  margin: auto;
  font-weight: bold;
  color: #6499ff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-bottom: 0.125rem solid #6499ff;
  border-radius: 100vh;
  box-shadow: 0 0.125rem 7px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.main__btn__long {
  display: block;
  width: 260px;
  padding: 0.625rem;
  margin: auto;
  font-weight: bold;
  color: #6499ff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-bottom: 0.125rem solid #6499ff;
  border-radius: 100vh;
  box-shadow: 0 0.125rem 7px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.main__btn :hover {
  color: #fff;
  background: #6499ff;
  border-bottom: 0.125rem solid #fff;
  transform: translateY(3px);
}

.main__btn__long:hover {
  color: #fff;
  background: #6499ff;
  border-bottom: 0.125rem solid #fff;
  transform: translateY(3px);
}

.size {
  margin-top: 40px;
  color: #6499ff;
}

.skill__title {
  text-align: left;
}
.skill__flx {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}
.skill__flx_el {
  width: 20%;
}
.skill_text {
  width: 80%;
  margin: 0.3125rem auto;
  margin-bottom: 15px;
  font-weight: bold;
  color: #6499ff;
  text-align: center;
}

.padding {
  padding: 80px 0;
  margin: 80px auto;
}

dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
dl dt {
  position: relative;
  width: 8.5em;
  padding: 0.5em 1em 0.5em 0.5em;
  text-align: left;
}
dl dt::after {
  position: absolute;
  top: 0.3125rem;
  right: -0.55em;
  font-size: 22px;
  color: #6499ff;
  content: "●";
}
dl dd {
  width: calc(100% - 8.5em);
  padding: 0.5em 2em 3em;
  border-left: 0.125rem solid #ccc;
}
dl p {
  text-align: left;
}
dl dd h2 {
  margin: 0 0 0.3125rem;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

.license ul {
  text-align: left;
}
.license__table {
  margin-top: 1.25rem;
  font-size: 1.125rem;
}
.license__table__td {
  padding: 0.625rem;
  text-align: left;
}

.modalBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  border-radius: 1.25rem;
}
.modalBox_btn {
  position: relative;
  top: 1.25rem;
  display: block;
  width: 46px;
  margin-right: 0.625rem;
  margin-left: auto;
  background-color: white;
  border: 0px solid;
}
.modalBox__element {
  width: 45%;
}
.modalBox__element__img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid gray;
}
.modalBox__element__link {
  color: #063997;
}
.modalBox__element__link:hover {
  opacity: 0.7;
}

.portfolioDetail {
  width: 100%;
  margin-top: 50px;
  border-radius: 1.25rem;
}
.portfolioDetail_btn {
  position: relative;
  top: 1.25rem;
  display: block;
  width: 46px;
  margin-right: 0.625rem;
  margin-left: auto;
  background-color: white;
  border: 0px solid;
}
.portfolioDetail__element {
  width: 45%;
}
.portfolioDetail__element__topImg {
  position: relative;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolioDetail__element__img {
  position: relative;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolioDetail__element__title {
  text-align: left;
}
.portfolioDetail__element__subtitle {
  margin: 30px 0;
  text-align: left;
}
.portfolioDetail__element__text {
  text-align: left;
}
.portfolioDetail__element__text li {
  list-style: square;
}
.portfolioDetail__element__tag {
  display: inline;
  padding: 5px 10px;
  margin: 0px 10px;
  color: #6499ff;
  border: 1px solid #6499ff;
  border-radius: 20px;
}
.portfolioDetail__element__link {
  color: #063997;
}
.portfolioDetail__element__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 580px) {
  .main__btn {
    padding: 0.625rem 0px;
    margin: 30px auto;
    font-size: 16px;
    text-align: center;
  }
  .size {
    margin-top: 1.25rem;
    color: #6499ff;
  }
  .section_title {
    margin: 0.625rem auto;
    font-family: futura-pt-bold, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    color: #007111;
    text-align: center;
  }
  .border_company {
    margin-left: 0px;
    background-color: white;
  }
  .border_company {
    box-shadow: -rem(5) 0.3125rem 0px 0.3125rem #000081;
  }
  footer ul {
    margin-left: 30px;
  }
  .footer_flx {
    display: flex;
    flex-direction: column;
    width: 76%;
    color: white;
    text-align: center;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  header h1 {
    margin-left: 0.625rem;
    font-size: 1.25rem;
  }
  .fv {
    display: inline-block;
    width: 100%;
    height: 600px;
    margin: 0 auto;
  }
  .fv__title {
    font-size: 26px;
    line-height: 40px;
    text-align: left;
  }
  .about {
    height: 700px;
  }
  .about_name {
    margin: 0.625rem auto;
    font-size: 22px;
    text-align: center;
  }
  .about_img {
    width: 100%;
    margin: 0 auto;
  }
  .about_text {
    margin: 40px auto;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
  }
  .about .tac {
    margin-top: 0;
  }
  p {
    text-align: center;
  }
  .skill__title {
    text-align: left;
  }
  .skill__flx {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
  }
  .skill__flx_el {
    width: 50%;
  }
  .skill_text {
    width: 80%;
    margin: 0.3125rem auto;
    margin-bottom: 15px;
    font-weight: bold;
    color: #6499ff;
    text-align: center;
  }
  .logo_sns {
    width: 50%;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
  dl dd {
    width: 100%;
    padding: 0.5em 2em 3em;
    border-left: 0.125rem solid #ccc;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .max_width {
    width: 90%;
  }
  .flx {
    flex-direction: column;
  }
  .flx_el {
    width: 100%;
    margin: 0.625rem auto;
  }
  .flx_el_3 {
    width: 100%;
    margin: 1.25rem auto;
  }
  .flx_el_feature {
    width: 100%;
    margin: 1.25rem auto;
  }
  .header_flx {
    flex-direction: column;
  }
  .prev-button {
    bottom: -500px;
    left: -20px;
    width: 1.875rem;
  }
  .next-button {
    right: -20px;
    bottom: -500px;
    width: 1.875rem;
  }
  .modalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    margin-top: 30px;
    border-radius: 1.25rem;
  }
  .modalBox_btn {
    position: relative;
    top: 1.25rem;
    display: block;
    width: 46px;
    margin-right: 0.625rem;
    margin-left: auto;
    background-color: white;
    border: 0px solid;
  }
  .modalBox__element {
    width: 100%;
  }
  .modalBox__element__img {
    width: 100%;
    height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
    border: 1px solid gray;
  }
  .modalBox__element__text {
    text-align: left;
  }
  .modalBox__element__link {
    color: #063997;
  }
  .modalBox__element__link:hover {
    opacity: 0.7;
  }
}
.loader {
  position: relative;
  margin: 60px auto;
  font-size: 0.625rem;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #000081;
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
}

.loader,
.loader::after {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Form {
  max-width: 720px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.svg-inline--fa.fa-w-12 {
  width: 200px !important;
}

.svg-inline--fa.fa-w-14 {
  width: 200px !important;
}

.svg-inline--fa.fa-w-16 {
  width: 200px !important;
}

@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    flex-wrap: wrap;
    padding-top: 16px;
    padding-right: 0.875rem;
    padding-bottom: 16px;
    padding-left: 0.875rem;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label {
    display: flex;
    align-items: center;
    max-width: inherit;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  display: inline-block;
  width: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 8px;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  background: #5bc8ac;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    width: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 0.625rem;
    border-radius: 4px;
  }
}
.Form-Item-Input {
  flex: 1;
  width: 100%;
  max-width: 410px;
  height: 48px;
  padding-right: 1em;
  padding-left: 1em;
  margin-left: 40px;
  font-size: 18px;
  background: #eaedf2;
  border: 1px solid #ddd;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Input {
    flex: inherit;
    height: 40px;
    margin-top: 18px;
    margin-left: 0;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  flex: 1;
  width: 100%;
  max-width: 410px;
  height: 216px;
  padding-right: 1em;
  padding-left: 1em;
  margin-left: 40px;
  font-size: 18px;
  background: #eaedf2;
  border: 1px solid #ddd;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    flex: inherit;
    height: 200px;
    margin-top: 18px;
    margin-left: 0;
    font-size: 15px;
  }
}
.Form-Btn {
  display: block;
  width: 280px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .Form-Btn {
    width: 160px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 24px;
    font-size: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */