@use "../../../styles/common/variables" as *;
@use "../../../styles/common/mixin";

// timeline 過去の経歴
.timeline {
  margin: 50px auto;
  dl {
    dt {
      position: relative;
      width: 8.5em;
      padding: 8px 16px 8px 8px;
      text-align: left;
      &::after {
        position: absolute;
        top: rem(5);
        right: -0.55em;
        font-size: 22px;
        color: $main-color;
        content: "●";
      }
    }
    dd {
      width: calc(100% - 8.5em);
      padding: 8px 32px 48px;
      text-align: left;
      border-left: rem(2) solid #ccc;
    }
    p {
      text-align: left;
    }
    dd h2 {
      margin: 0 0 rem(5);
      font-size: 22px;
      font-weight: bold;
      text-align: left;
    }
  }
}

@include mixin.sp {
  .timeline {
    margin: 30px auto;
    dl {
      dd {
        width: 100%;
        padding: 0;
        padding-top: rem(10);
        padding-bottom: rem(20);
        padding-left: rem(10);
        margin-left: 20px;
        border-left: rem(2) solid #ccc;
        h2 {
          width: 90%;
          font-size: rem(18);
        }
        p {
          width: 90%;
        }
      }
      dt {
        padding-left: 0;
      }
    }
  }
}
