@use "../../../../styles/common/_variables.scss" as *;

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: black;

  &__text {
    display: inline-block;
  }

  &__required {
    display: inline-block;
    padding: 2px 4px;
    margin-left: 4px;
    font-size: 0.75rem;
    color: red;
    background-color: rgba(red, 0.1);
    border-radius: 2px;
  }
}
