@use "../../../styles/common/variables" as *;
@use "../../../styles/common/mixin";

.wave__bg__top {
  position: relative;
  top: 40px;
  z-index: -1;
}

@include mixin.sp {
  .wave__bg__top {
    position: relative;
    top: 10px;
    z-index: -1;
  }
}
