@use "../../../styles/common/variables" as *;
@use "../../../styles/common/mixin";

.wave__bg__bottom {
  position: relative;
  bottom: 40px;
  z-index: -1;
}

@include mixin.sp {
  .wave__bg__bottom {
    position: relative;
    bottom: 10px;
    z-index: -1;
  }
}
