//ブレークポイントを変数化
$pc: 1200px; //パソコン
$tab: 1024px; //タブレット
$sp: 420px; //スマホ

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
