// 共通クラスや変数
// 色の定義
$main-color: #4485ff;
$tag-color-1: #d50303;
$tag-color-2: #00a339;
$tag-color-3: #ce61c8;
$tag-color-4: #063997;
$tag-color-5: #fd6d39;
$white: #ffff;
$grey: grey;
$black: rgb(39, 39, 39);
$back-color: #f7f7f7;
$red: rgb(251, 77, 77);

//不透明度
$opacity: 0.7;
// remの設定
$baseFontSize: 16;
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}

//sp版の設定
$breakpoints: (
  'xs': (
    min-width: 0,
  ),
  'sm': (
    min-width: 576px,
  ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'xl': (
    min-width: 1200px,
  ),
  'xxl': (
    min-width: 1400px,
  ),
) !default;