@use "sass:math";

// 色の定義
$main-color: oklch(65% 50% 261.57); //#4485ff
$main-color-disabled: oklch(55% 50% 261.57); //#090061
$main-white: oklch(100% 0 0); // #ffffff
$grey: oklch(54% 0 0); // grey
$black: oklch(16.01% 0 0); // rgb(39, 39, 39)
$main-back-color: #f7f7f7; // #f7f7f7
$red: oklch(60% 0.18 27.97); // rgb(251, 77, 77)

// ポートフォリオタグカラー
$portfolio-tag: #5f5dcd;
$portfolio-bg-tag: #d2e3ff;
$tag-color-red: oklch(60% 0.18 29.27); // #d50303
$tag-color-green: oklch(60% 0.18 145.56); // #00a339
$tag-color-pink: oklch(60% 0.18 327.74); // #ce61c8
$tag-color-blue: oklch(60% 0.18 251.34); // #063997
$tag-color-orange: oklch(60% 0.18 45.73); // #fd6d39

//不透明度
$opacity: 0.7;
// remの設定
$baseFontSize: 16;

@function rem($pixels) {
  @return math.div($pixels, $baseFontSize) * 1rem;
}

// フォント

// body (本文)
@mixin body-text {
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

// h3 (中見出し)
@mixin h3-title {
  font-size: rem(22);
  font-weight: 700;       
  line-height: 1.4;       
  letter-spacing: 0.06em; 
}

// h2 タイトル

@mixin h2-title {
  font-size: rem(28);
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

//sp版の設定
$breakpoints: (
  "xs": (
    min-width: 0,
  ),
  "sm": (
    min-width: 576px,
  ),
  "md": (
    min-width: 768px,
  ),
  "lg": (
    min-width: 992px,
  ),
  "xl": (
    min-width: 1200px,
  ),
  "xxl": (
    min-width: 1400px,
  ),
) !default;
