.header {
  z-index: 50;
  width: 100%;
  height: auto;
  height: 60px;
  padding: 0 40px;
  padding-top: 20px;
}
.header .logo {
  font-size: 20px;
  font-weight: bold;
}
.header_flx {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.header nav {
  margin-left: auto;
}
.header li {
  display: inline-block;
  margin-right: 15px;
}
.header li:nth-child(6) {
  width: 90px;
  padding: 5px 10px;
  margin-right: 0;
  color: white;
  background-color: rgb(34, 35, 35);
}

@media (max-width: 1024px) {
  .header {
    position: initial;
  }
  .header nav {
    display: none;
  }
}
.humburger {
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 100;
  display: none;
  padding: 16px 10px !important;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  background-color: #6499ff;
}
.humburger span {
  display: block;
  width: 36px;
  height: 2px;
  margin-bottom: 7px;
  background-color: white;
}
.humburger span:nth-child(1) {
  width: 36px;
  height: 2px;
  margin-left: 0px;
}
.humburger p {
  margin-top: -4px;
  margin-bottom: 5px;
  font-size: 13px;
  color: white;
}

.drawerMenu {
  z-index: -100;
  width: 0;
  height: 0;
  color: white;
  background-color: #6499ff;
  opacity: 0;
  transition: 0.5s;
}
.drawerMenu.open {
  z-index: 100;
  height: 100vh;
  opacity: 1;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 20px;
  }
  .header .logo {
    margin-top: 0px;
  }
  .container {
    margin: 0 0 0 auto;
  }
  .container .humburger {
    display: block;
  }
  .drawerMenu {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .drawerMenu ul {
    width: 90%;
    padding: 0px;
    margin: 0 auto;
  }
  .drawerMenu ul li {
    margin-bottom: 25px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    opacity: 0.8;
  }
  .mobileLogo {
    position: absolute;
    top: 0px;
    display: inline-block;
    width: 250px;
    height: 80px;
  }
  .mainTitle {
    margin-bottom: 5px;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
  }
  .subTitle {
    font-size: 15px;
    color: white;
  }
  .close {
    padding-right: 3px;
    margin-top: 32px;
    cursor: pointer;
  }
  .close span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 8px 10px auto;
    margin-bottom: 10px;
    background-color: white;
  }
  .close span:first-child {
    transform: translateY(6px) rotate(150deg);
  }
  .close span:nth-child(2) {
    margin-bottom: 0;
    transform: translateY(-6px) rotate(-150deg);
  }
  .close p {
    padding-right: 1px;
    font-size: 11px;
    text-align: right;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 0 20px;
  }
  .humburger {
    top: 15px;
    right: 20px;
  }
  .mobileLogo {
    top: 10px;
    width: 190px;
    height: 60px;
  }
}
@media (max-width: 340px) {
  .header {
    padding: 0 10px;
  }
  .header .logo {
    width: 170px;
    height: 60px;
  }
}
.components_logo__pNz7v {
  margin: 0px;
}/*# sourceMappingURL=index.module.css.map */