// ブログページ

@use '../common/variables' as *;
@use '../common/mixin';


.blog__layout {
  display: grid;
  grid-template-columns: 1fr 300px;
  padding-block: 50px;
}

.blog__List {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 15px;
    justify-content: flex-start;
    width: 100%;
    margin: 10px auto;
}

.blog__aside {
    padding: 16px; 
    margin-top: 20px;
}

.blog__aside__List {
    gap: 25px 15px;
    justify-content: flex-start;
    width: 100%;
    margin: 10px auto;
}

.blog__aside h2 { 
    margin-bottom: 12px;
    font-size: 1.5rem; 
    text-align: left;
}

.zennArticle {
  width: 30%;
  box-shadow:
  rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &__container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }

  &__content {
    margin: 10px;
  }

  &__title {
    margin-inline: auto;
    margin-top: 0;
    margin-top: 10px;
    font-weight: 600;
    text-align: left;
  }
  &__date {
    font-size: rem(14);
    color: $grey;
    text-align: left;
  }
  &__tag {
    display: inline-block;
    height: 25px;
    padding: 2px 5px;
    margin: 11px 2px;
    font-size: 14px;
    color: white;
    background-color: #5f5dcd;
    border-radius: 10px;
  }
  &__emoji {
    font-size: 80px;
  }
}

.zennAsideArticle {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid $grey;

  &__container {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
  }

  &__content {
    margin-block: 10px;
  }

  &__title {
    margin-inline: auto;
    margin-top: 0;
    margin-top: 10px;
    font-size: rem(16);
    font-weight: 600;
    text-align: left;
  }
  &__date {
    font-size: rem(14);
    text-align: left;
  }
  &__tag {
    display: inline-block;
    height: 25px;
    padding: 2px 5px;
    margin: 11px 2px;
    font-size: 14px;
    color: white;
    background-color: #5f5dcd;
    border-radius: 10px;
  }
  &__emoji {
    font-size: 80px;
  }
}

@include mixin.sp {

  .blog__layout {
  display: grid;
  grid-template-columns: 1fr;
  padding-block: 20px;
  }

  .blog__aside {
  display: none;
  }

  .zennArticle {
    width: 100%;

    &__flex {
      display: flex;
      justify-content: center;
    }
    &__date {
      font-size: rem(14);
    }
    &__tag {
      display: inline-block;
      height: 25px;
      padding: 2px 5px;
      margin: 11px 2px;
      font-size: 14px;
      color: $main-color;
      border: 1px solid $main-color;
      border-radius: 20px;
    }
    &__title {
      margin-top: 0;
    }
    &__emoji {
      font-size: 80px;
    }
  }
}