// 個別ページ
@use '../common/variables' as *;
@use '../common/mixin';


.fv_cube {
  height: 100vh;

  &_title {
    position: relative;
    top: 120px;
    font-family: futura-pt-bold, sans-serif;
    font-size: 70px;
    line-height: 90px;
    text-align: left;
  }
}


.drawerMenu {
  position: fixed;
  top: 0px;
  z-index: -100;
  display: none;
  width: 100%;
  height: 0;
  background-color: $main-color;
  opacity: 0;
  transition: 0.5s;
  ul {
    width: 90%;
    padding: 0px;
    margin-inline: auto;
    li {
      margin-bottom: 25px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 200;
      opacity: $opacity;
    }
  }
  &.open {
    top: 60px;
    z-index: 99;
    display: none;
    height: 90vh;
    opacity: 0;
  }
}

.btn-trigger {
  display: none;
}

// Topのaboutページ
.aboutTop_container {
  display: flex;
  flex-wrap: wrap;
  gap: rem(60) 0;
  justify-content: space-between;
  width: 100%;
  margin: rem(10) auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  &-item {
    width: 50%;
    margin: 0px;
    overflow-wrap: break-word;
  }
}

.components_logo__pNz7v {
  margin: 0px;
}


// 404エラーページ
$error-text: #333;
$bg-color: #f8f8f8;

.errorPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	background-color: $bg-color;

	h1 {
    margin-top: 0px;
		margin-bottom: 0.5rem;
		font-size: 6rem;
		font-weight: bold;
		color: $error-text;
	}

	h2 {
		font-size: 2rem;
		color: darken($error-text, 10%);
	}

	p {
		margin-top: 0.5rem;
		color: lighten($error-text, 20%);
	}
}



@media (max-width: 1024px) {
  .btn-trigger {
    position: relative;
    z-index: 100;
    width: 50px;
    height: 38px;
    cursor: pointer;
    background-color: white;
    border: 0px;
  }
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $main-color;
    border-radius: 4px;
  }
  .btn-trigger,
  .btn-trigger span {
    box-sizing: border-box;
    display: inline-block;
    transition: all 0.5s;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 17px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  /*=============================
#btn01
=============================*/
  #btn01.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }
  #btn01.active span:nth-of-type(2) {
    opacity: 0;
  }
  #btn01.active span:nth-of-type(3) {
    -webkit-transform: translateY(-17px) rotate(45deg);
    transform: translateY(-17px) rotate(45deg);
  }



  .container {
    margin: 0 0 0 auto;
  }
  .mobileLogo {
    position: absolute;
    top: 0px;
    display: inline-block;
    width: 250px;
    height: 80px;
  }
  .mainTitle {
    margin-bottom: 5px;
    font-size: 26px;
    color: white;
    text-align: left;
    letter-spacing: 2px;
  }
  .subTitle {
    font-size: 15px;
    color: white;
  }
  .close {
    padding-right: 3px;
    margin-top: 32px;
    cursor: pointer;
    span {
      display: block;
      width: 30px;
      height: 2px;
      margin: 0 8px 10px auto;
      margin-bottom: 10px;
      background-color: white;
      &:first-child {
        transform: translateY(6px) rotate(150deg);
      }
      &:nth-child(2) {
        margin-bottom: 0;
        transform: translateY(-6px) rotate(-150deg);
      }
    }
    p {
      padding-right: 1px;
      font-size: 11px;
      text-align: right;
    }
  }
  .drawerMenu {

    position: fixed;
    top: 0px;
    z-index: -100;
    display: none;
    width: 100%;
    height: 0;
    background-color: $main-color;
    opacity: 0;
    transition: 0.5s;
    ul {
      width: 90%;
      padding: 0px;
      margin-inline: auto;
      li {
        margin-bottom: 25px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 200;
        opacity: $opacity;
      }
    }
    &.open {
      top: 60px;
      z-index: 99;
      display: none;
      display: block;
      height: 90vh;
      opacity: 1;
    }
  }
}

@include mixin.sp {

  .aboutTop_container {
    flex-direction: column;
    gap: rem(10) 0;
    width: 100%;
    margin: rem(10) auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    &-item {
      width: 100%;
      margin: 0;
      overflow-wrap: break-word;
    }
  }

  .components_logo__pNz7v {
  margin: 0px;
}
}