// 個別ページ

@use "../common/variables" as *;

.privacy-policy {
  &__content {
    margin: 30px auto;
  }
  &__heading {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
  }
  &__text {
    margin-bottom: 20px;
    text-align: left;
  }
  &__link {
    margin: 6px 0;
    color: #0066cc;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
