// ポートフォリオぺージ

@use "../common/variables" as *;
@use "../common/mixin";

//ポートフォリオ filter
.selectBox {
  position: relative;
  display: inline-flex;
  align-items: center;

  &::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    pointer-events: none;
    content: "";
    background-color: $grey;
  }

  select {
    min-width: 230px;
    height: 2.8em;
    padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
    font-size: 1em;
    appearance: none;
    cursor: pointer;
    background-color: $white;
    border: none;
    border-bottom: 2px solid #d0d0d0;

    &:focus {
      outline: none;
    }
  }
}

// ポートフォリオページ用
.portfolio {
  background-color: $back-color;

  &__loading {
    padding-block: 100px;
    text-align: center;
  }

  &Detail {
    &__toc {
      padding: 1.5rem;
      margin: 2rem 0;
      background: #f8f9fa;
      border-radius: 8px;

      &-title {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        text-align: left;
      }

      &-list {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      &-link {
        display: block;
        width: 100%;
        padding: 0.5rem 0;
        font-size: 1rem;
        color: black;
        text-align: left;
        text-decoration: none;
        cursor: pointer;
        background: none;
        border: none;

        &:hover {
          color: #2563eb;
          text-decoration: underline;
        }
      }
    }
  }

  &__filter {
    display: flex;
    justify-content: flex-end;
  }
  // portfolioList
  &Item {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    &__content {
      padding: 10px;
    }
    &__date {
      display: block;
      width: 100%;
      font-size: rem(14);
      text-align: left;
    }
    &__tag {
      display: inline-block;
      height: 25px;
      padding: 2px 10px;
      margin: 11px 0px;
      font-size: 14px;
      color: white;
      background-color: #5f5dcd;
      border-radius: 20px;
    }
    &__title {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      text-align: left;
    }
    &__img {
      position: relative;
      width: 100%;
      height: 162px;
      aspect-ratio: 16 / 9;
      margin-inline: auto;
      overflow: hidden;
      object-fit: cover;

      &-item {
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__container {
      display: flex;
      gap: rem(10);
      justify-content: flex-start;
      margin-top: 10px;
    }
    &_link {
      cursor: pointer;
    }
  }
}

@include mixin.sp {
  .portfolio {
    &Item__img {
      height: 230px;
    }
  }
}
